/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*========================================================================
                          General styles
 =========================================================================*/
.page {
   background: #A1948E url(../images/bg.png);
}

h1{
  
  font-size:18px;
}

h2.node-title{

   font-size:18px;
   text-transform:capitalize;
   color:#333;

}

.logo-img {
  float: left;
  margin-right: 20px

}

.front .logo-img {
  margin-bottom: -74px;
}

.breadcrumb {
  padding-bottom: 0.5em;
  display: none;
}

html{
  
  font: normal 15px/22px 'Merriweather', Georgia, "Times New Roman", Times, serif
}

a:link, a:visited {
  color: #5e534e;
  text-decoration: underline;
}

a:active,
li a.active{
  color:#5e534e;
}


body {
  font: 12px/20px 'Merriweather', Georgia, "Times New Roman", Times, serif;
  color: #5e534e;
}

#first-time {
  display: none;
}

.front #page-title {
  display: none;
}

/*========================================================================
                         Header styles
 =========================================================================*/

#section-header{
  border-top:6px solid #333;
  
}

/*========================================================================
                         top menu
 =========================================================================*/

#block-menu-menu-top-menu{
  margin-top: 3px;
}

#block-menu-menu-top-menu ul li a:hover {
  cursor: pointer;
  width: 55px;
  padding: 7px 7px 7px 7px;
  background: #313236;
  color: #E4E4E4;
}

#block-menu-menu-top-menu ul li a,
#block-menu-menu-top-right-menu ul li a{
  width:55px;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 7px 7px 7px 7px;
}

#block-menu-menu-top-right-menu ul li a {

  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 3px 21px 5px 16px;
  background: #333;
  float: right;
  color: #E4E4E4;
  height: 17px;
  border: 2px solid gray;
  border-top: 0;

}

#block-menu-menu-top-right-menu ul li {
  margin-top:-2px
}

#block-menu-menu-top-right-menu h2 {
  display: none;
}

#block-menu-menu-top-menu .block-title {
  display: none;
}

#node-page-8 {
  border: 1px solid white;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  padding: 3px;
  background-color:white;
}



ul li.leaf{
  display:inline-block;
}

/*========================================================================================
                                Region user
 =========================================================================================*/

#region-user-first {
  width: auto;
  display: inline-block;
}

#region-user-second {
  float: right;
  width:auto;

}

/*==================================================================================
                                    blog
====================================================================================*/

.node-links ul .blog_usernames_blog {
  display: none;
}

.node-links ul li a, .comment-links ul li a{
   border:2px solid gray;
   background: #333;
   border-radius: 0;
   color: white;
   text-shadow: none;
   text-transform: inherit;
}

.node-links ul li a:hover,
 .comment-links ul li a:hover{
   border:2px solid gray; 
   background: white;
   color:#333;

 }



/*========================================================================================
                               preface region
 =========================================================================================*/

#region-preface-third{
  text-transform: none;
  color: #333;
  float: right;
  letter-spacing: normal;
  font: normal 15px/22px 'Merriweather', Georgia, "Times New Roman", Times, serif;
  width: 462px;
}

/*========================================================================================
                                projects view
 =========================================================================================*/

.view.view-projects.view-id-projects.view-display-id-block_2 p {
  margin-bottom: 0px;
}
.view.view-projects.view-id-projects.view-display-id-block_2 table {
  border: none;
}

.view.view-projects.view-id-projects.view-display-id-block_1{
  border-image:url('images/layout/border-img.png') 0 0 repeat-x;
  
}

#block-views-projects-block-1 table{
  background-color: white;
  border: 1px solid;
  border-style: dotted;
  border-left: 0;
  border-right: 0;
  margin-bottom:7px;

}

#block-views-projects-block-1 .block-title {
  font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
  color: #4f4640;
  font-size: 15px;
  font-weight:normal;
  padding: 2px 0 2px 28px;
  background: url(../images/down.png) no-repeat 0px 3px;
  text-rendering: optimizeLegibility;
}

.views-field.views-field-title a {
  font-weight: bold;
  text-decoration: none;
}

.views-field.views-field-field-screenshot img {
  border: 1px solid #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  padding: 1px;
  margin-bottom:2px;
}


.views-exposed-form .views-exposed-widget {
  float: right;
  width: 297px;
  font: normal 15px/22px 'Merriweather', Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin-right: -13px;
}

.views-exposed-widgets {
  margin-bottom: 1px;
}



#views-exposed-form-projects-block-1 a {
  float: left;
  margin-left: 8px;
  border: 2px solid gainsboro;
  text-decoration: none;
  padding: 1px 4px;
  background-color: #fff;
  color: #333;
}

#views-exposed-form-projects-block-1 a:hover{
  background-color: #333;
  color:white;

}


/*========================================================================================
                                individual project pages
 =========================================================================================*/

.view.view-projects.view-id-projects.view-display-id-block_3 .views-field.views-field-body{
 
  margin: 39px 0 5px -143px;
  border: 2px solid gainsboro;
  padding: 5px;
  
}

.view.view-projects.view-id-projects.view-display-id-block_3 .views-field.views-field-field-url,
.view.view-projects.view-id-projects.view-display-id-block_3 .views-field.views-field-field-taxonomy{
  padding: 5px;
  border: 2px solid gainsboro;
  margin-bottom: 5px;
  
}


/*===============================================================================
                       postscript zone
  ===============================================================================*/


#zone-postscript {
  border-bottom: 1px black solid;
  border-bottom-style: dotted;
}


#region-postscript-first {
  width: auto;
}

#block-views-worked-for-block .block-title {
  padding: 2px 0 15px 28px;
  font-weight: normal;
  font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color:#4f4640;
  background: url(../images/tools2.png) no-repeat 0px 3px;
}

#block-views-worked-for-block {
  margin-bottom: 10px;
  width:auto;
}

#block-views-worked-for-block img {
   float: left;
}

/*==================================================================================
                                    contact us page
====================================================================================*/

.views-field.views-field-field-profile-picture img {
   border-radius: 100%;
   margin-left: 30px;
  border: 2px solid gainsboro;
  width: 110px;
  height: 127px;
}

#edit-submit {
  background: #333;
  color: white;
  border-radius: 0;
  border-color: black;
  box-shadow: none;
  text-shadow: none;
  border:2px solid gray;
}

#block-views-worked-for-block-1 {
  padding: 15px;
  border:2px solid gainsboro;
}

.form-textarea-wrapper.resizable.textarea-processed.resizable-textarea, 
#edit-submitted-message {
  width: 399px;
}

/*==================================================================================
                                    footer
====================================================================================*/

#section-footer {

  padding: 7px 0 13px;
  
}

/*===========================================================================
                        copy right block
=============================================================================*/

#block-copyright-block-copyright-block {
  float: right;
}

/*===========================================================================
                        back to top button
=============================================================================*/

#back-top span#button {
  background-color: #333;
  border-radius: 100%;
  border: 4px solid gray;
  width: 32px;
  height: 32px;
}

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
  background: #FFF;
}

/*===========================================================================
                        twitter follow button
=============================================================================*/


#block-followbutton-followbutton {
  float: right;
  margin-right: -372px;
  background: url(../images/twitter.png) no-repeat 56px 2px;
  padding-left: 74px;
}

#block-followbutton-followbutton h2 {
  display: none;
}